In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('clean_train.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,emb_C,emb_Q,emb_S,Fare_usd,Family_size,Title,Mr,Mrs,Master,Miss
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,0,0,1,9.42500,1,Mr,1,0,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,1,0,0,92.66829,1,Mrs,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,0,0,1,10.30250,0,Miss,0,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,0,0,1,69.03000,1,Mrs,0,1,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,0,0,1,10.46500,0,Mr,1,0,0,0

In [4]:
train.groupby('Family_size')['PassengerId'].count()

Family_size
0     537
1     161
2     102
3      29
4      15
5      22
6      12
7       6
10      7
Name: PassengerId, dtype: int64

In [5]:
features = train[['Age','Is_female','Pclass','emb_C','emb_Q',
                 'emb_S','Family_size', 'Mr', 'Mrs', 'Master', 'Miss']]
target = train.Survived

In [6]:
features.head()

,Age,Is_female,Pclass,emb_C,emb_Q,emb_S,Family_size,Mr,Mrs,Master,Miss
0,22.0,False,3,0,0,1,1,1,0,0,0
1,38.0,True,1,1,0,0,1,0,1,0,0
2,26.0,True,3,0,0,1,0,0,0,0,1
3,35.0,True,1,0,0,1,1,0,1,0,0
4,35.0,False,3,0,0,1,0,1,0,0,0

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
from sklearn.model_selection import cross_val_score, StratifiedKFold, RepeatedStratifiedKFold

In [10]:
features_train, features_test, target_train, target_test = \
    train_test_split(features, target, test_size=0.2, random_state=0)

In [11]:
model = RandomForestClassifier()
score = cross_val_score(model, features, target, cv=RepeatedStratifiedKFold()).mean()
score

0.7967447115686399

In [12]:
model = RandomForestClassifier().fit(features,target)

In [21]:
# d = {'col1': [1, 2], 'col2': [3, 4]}
d = {
    'Age': [33],
    'Is_female': [0], 
    'Pclass': [2], 
    'emb_C': [0],
    'emb_Q': [0],
    'emb_S': [1],
    'Family_size': [1], 
    'Mr': [0], 
    'Mrs': [1], 
    'Master': [0], 
    'Miss': [0]
}
test = pd.DataFrame(data=d)

In [14]:
test.head()

,Age,Is_female,Pclass,emb_C,emb_Q,emb_S,Family_size,Mr,Mrs,Master,Miss
0,33,1,2,0,0,1,1,0,1,0,0

In [22]:
test_features = test[['Age','Is_female','Pclass','emb_C','emb_Q',
                 'emb_S', 'Family_size','Mr','Mrs','Master','Miss']]

In [23]:
predictions =  model.predict(test_features)
predictions

array([0])

In [24]:
proba = model.predict_proba(test_features)

In [25]:
proba

array([[0.5, 0.5]])